h1 {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

p {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

div {
    text-align: center;
}

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start
  }
  .container:after {
    display: block;
    content: " placeholder ";
    margin: 6px;
    flex: 999 999 auto;
  }
  .item {
    flex: 0 0 auto;
    margin: 6px;
  }

  .item {
    filter: blur(0px);
  }